openapi: 3.0.3
info:
  title: ROR-Serveur
  description: >-
    Capability Statement pour le Système ROR National. Le Répertoire
    Opérationnel des Ressources (ROR) est le gisement de données qui décrit les
    offres de santé au niveau national.
  license:
    name: Creative Commons Zero v1.0 Universal
    url: http://spdx.org/licenses/CC0-1.0.html
  version: 0.6.0
  contact:
    name: ANS
    url: https://esante.gouv.fr
externalDocs:
  url: https://interop.esante.gouv.fr/ig/fhir/ror/CapabilityStatement/ror-serveur
  description: FHIR CapabilityStatement
servers:
  - url: http://api.ror.esante.gouv.fr
    description: Optional server description, e.g. Main (production) server
  - url: http://api.mocks.esante.gouv.fr
    description: Optional server description, e.g. Mocks server
  - url: http://api.rordev.esante.gouv.fr
    description: Optional server description, e.g. Internal staging server for testing
paths:
  /Location:
    summary: Manager for resources of type Location
    description: >-
      The Manager for resources of type Location: provides services to manage 
      the collection of all the Location instances
    get:
      summary: Search all resources of type Location based on a set of criteria
      operationId: searchLocation
      responses:
        '200':
          $ref: '#/components/responses/LocationSearchResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/elements'
        - $ref: '#/components/parameters/_filter'
        - $ref: '#/components/parameters/_has'
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/_lastUpdated'
        - $ref: '#/components/parameters/_tag'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/near'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/address-postalcode'
        - $ref: '#/components/parameters/address-city'
        - $ref: '#/components/parameters/capacity-status'
        - $ref: '#/components/parameters/nb-capacity'
        - $ref: '#/components/parameters/additional-bed-type'
        - $ref: '#/components/parameters/capacity-closing-type'
        - $ref: '#/components/parameters/capacity-type'
        - $ref: '#/components/parameters/capacity-update-date'
        - $ref: '#/components/parameters/crisis-type'
        - $ref: '#/components/parameters/equipment-type'
        - $ref: '#/components/parameters/equipment-feature'
        - $ref: '#/components/parameters/gender-capacity-available'
        - $ref: '#/components/parameters/limit-value'
        - $ref: '#/components/parameters/commune-cog'
        - $ref: '#/components/parameters/near-insee-code'
        - $ref: '#/components/parameters/residential-number'
        - $ref: '#/components/parameters/residential-type'
        - $ref: '#/components/parameters/temporality-capacity'
        - $ref: '#/components/parameters/temporary-assignement'
      description: ''
  /Location/{rid}:
    summary: Read/Write/etc resource instance of type Organization
    description: >-
      Access to services to manage the state of a single resource of type
      Organization
    get:
      summary: Read the current state of the resource
      operationId: readLocation
      responses:
        '200':
          $ref: '#/components/responses/LocationGetResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/rid'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/elements'
      description: ''
    patch:
      summary: Patch resource of type Location
      operationId: patchLocation
      responses:
        '200':
          description: the resource being returned
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/rid'
      description: ''
      requestBody:
        $ref: '#/components/requestBodies/LocationPatchBody'
    parameters: []
  /HealthcareService:
    summary: manage the collection of resources of type HealthcareService
    description: >-
      Access to services to manage the collection of all resources of type
      HealthcareService
    get:
      summary: >-
        Search all resources of type HealthcareService based on a set of
        criteria
      operationId: searchHealthcareService
      responses:
        '200':
          $ref: '#/components/responses/HealthcareServiceSearchResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/elements'
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/_lastUpdated'
        - $ref: '#/components/parameters/_tag'
        - $ref: '#/components/parameters/_has'
        - $ref: '#/components/parameters/_filter'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/service-category'
        - $ref: '#/components/parameters/service-type'
        - $ref: '#/components/parameters/characteristic'
        - $ref: '#/components/parameters/specialty'
        - $ref: '#/components/parameters/age-range-high'
        - $ref: '#/components/parameters/age-range-low'
        - $ref: '#/components/parameters/intervention-zone'
        - $ref: '#/components/parameters/patient-type'
        - $ref: '#/components/parameters/psychiatric-sector'
      description: ''
  /HealthcareService/{rid}:
    summary: Read/Write/etc resource instance of type Organization
    description: >-
      Access to services to manage the state of a single resource of type
      Organization
    get:
      summary: Read the current state of the resource
      operationId: readHealthcareService
      responses:
        '200':
          $ref: '#/components/responses/HealthcareServiceGetResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/rid'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/elements'
      description: ''
  /Organization:
    summary: manage the collection of resources of type Organization
    description: >-
      Access to services to manage the collection of all resources of type
      Organization
    get:
      summary: Search all resources of type Organization based on a set of criteria
      operationId: searchOrganization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationSearchResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/elements'
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/_lastUpdated'
        - $ref: '#/components/parameters/_tag'
        - $ref: '#/components/parameters/_filter'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/closing-type'
        - $ref: '#/components/parameters/drop-zone'
        - $ref: '#/components/parameters/period-end'
        - $ref: '#/components/parameters/price-amount-value'
        - $ref: '#/components/parameters/price-dependency-level'
        - $ref: '#/components/parameters/price-residential-type'
        - $ref: '#/components/parameters/price-type'
        - $ref: '#/components/parameters/price-unit'
        - $ref: '#/components/parameters/price-validity-start-date'
        - $ref: '#/components/parameters/price-welcome-type'
        - $ref: '#/components/parameters/special-price'
      description: ''
  /Organization/{rid}:
    summary: Read/Write/etc resource instance of type Organization
    description: >-
      Access to services to manage the state of a single resource of type
      Organization
    get:
      summary: Read the current state of the resource
      operationId: readOrganization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationGetResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'
      parameters:
        - $ref: '#/components/parameters/rid'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/elements'
      description: ''
components:
  schemas:
    string:
      pattern: ^[ \r\n\t\S]+$
      type: string
      description: A sequence of Unicode characters
    id:
      pattern: ^[A-Za-z0-9\-\.]{1,64}$
      type: string
      description: >-
        Any combination of letters, numerals, "-" and ".", with a length limit
        of 64 characters.  (This might be an integer, an unprefixed OID, UUID or
        any other identifier pattern that meets these constraints.)  Ids are
        case-insensitive.
    boolean:
      pattern: ^true|false$
      type: boolean
      description: Value of "true" or "false"
    time:
      pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?$
      type: string
      description: A time during the day, with no date specified
    dateTime:
      pattern: >-
        ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
      type: string
      description: >-
        A date, date-time or partial date (e.g. just year or year + month).  If
        hours and minutes are specified, a time zone SHALL be populated. The
        format is a union of the schema types gYear, gYearMonth, date and
        dateTime. Seconds must be provided due to schema type constraints but
        may be zero-filled and may be ignored.                 Dates SHALL be
        valid dates.
    instant:
      pattern: >-
        ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))$
      type: string
      description: An instant in time - known at least to the second
    unsignedInt:
      pattern: ^[0]|([1-9][0-9]*)$
      type: number
      description: An integer with a value that is not negative (e.g. >= 0)
    positiveInt:
      pattern: ^[1-9][0-9]*$
      type: number
      description: An integer with a value that is positive (e.g. >0)
    uri:
      pattern: ^\S*$
      type: string
      description: String of characters used to identify a name or a resource
    decimal:
      pattern: ^-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?$
      type: number
      description: A rational number with implicit precision
    code:
      pattern: ^[a-zA-Z%/]{5}
      type: string
      description: >-
        A string which has at least one character and no leading or trailing
        whitespace and where there is no whitespace other than single spaces in
        the contents pattern de base: '^[^\s]+(\s[^\s]+)*$'
    xhtml:
      description: xhtml - escaped html (see specfication)
    Narrative:
      description: >-
        A human-readable summary of the resource conveying the essential
        clinical and business information for the resource.
      properties:
        status:
          description: >-
            The status of the narrative - whether it's entirely generated (from
            just the defined data or the extensions too), or whether a human
            authored it and it may contain additional data.
          type: string
          enum:
            - generated
            - extensions
            - additional
            - empty
        div:
          description: The actual narrative content, a stripped down version of XHTML.
          allOf:
            - $ref: '#/components/schemas/xhtml'
      additionalProperties: false
      required:
        - div
    Range:
      description: A set of ordered Quantities defined by a low and high limit.
      properties:
        low:
          description: The low limit. The boundary is inclusive.
          allOf:
            - $ref: '#/components/schemas/Quantity'
        high:
          description: The high limit. The boundary is inclusive.
          allOf:
            - $ref: '#/components/schemas/Quantity'
      additionalProperties: false
    Period:
      description: A time period defined by a start and end date and optionally time.
      properties:
        start:
          description: The start of the period. The boundary is inclusive.
          allOf:
            - $ref: '#/components/schemas/dateTime'
        end:
          description: >-
            The end of the period. If the end of the period is missing, it means
            no end was known or planned at the time the instance was created.
            The start may be in the past, and the end date in the future, which
            means that period is expected/planned to end at that time.
          allOf:
            - $ref: '#/components/schemas/dateTime'
      additionalProperties: false
    Quantity:
      description: >-
        A measured amount (or an amount that can potentially be measured). Note
        that measured amounts include amounts that are not precisely quantified,
        including amounts involving arbitrary units and floating currencies.
      properties:
        value:
          description: >-
            The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          allOf:
            - $ref: '#/components/schemas/decimal'
        comparator:
          description: >-
            How the value should be understood and represented - whether the
            actual value is greater or less than the stated value due to
            measurement issues; e.g. if the comparator is "<" , then the real
            value is < stated value.
          type: string
          enum:
            - <
            - <=
            - '>='
            - '>'
        unit:
          description: A human-readable form of the unit.
          allOf:
            - $ref: '#/components/schemas/string'
        system:
          description: >-
            The identification of the system that provides the coded form of the
            unit.
          allOf:
            - $ref: '#/components/schemas/uri'
        code:
          description: >-
            A computer processable form of the unit in some unit representation
            system.
          allOf:
            - $ref: '#/components/schemas/code'
      additionalProperties: false
    CodeableConcept:
      description: >-
        A concept that may be defined by a formal reference to a terminology or
        ontology or may be provided by text.
      properties:
        coding:
          description: A reference to a code defined by a terminology system.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
        text:
          description: >-
            A human language representation of the concept as
            seen/selected/uttered by the user who entered the data and/or which
            represents the intended meaning of the user.
          allOf:
            - $ref: '#/components/schemas/string'
      additionalProperties: false
    Coding:
      description: A reference to a code defined by a terminology system.
      properties:
        system:
          description: >-
            The identification of the code system that defines the meaning of
            the symbol in the code.
          allOf:
            - $ref: '#/components/schemas/uri'
        version:
          description: >-
            The version of the code system which was used when choosing this
            code. Note that a well-maintained code system does not need the
            version reported, because the meaning of codes is consistent across
            versions. However this cannot consistently be assured, and when the
            meaning is not guaranteed to be consistent, the version SHOULD be
            exchanged.
          allOf:
            - $ref: '#/components/schemas/string'
        code:
          description: >-
            A symbol in syntax defined by the system. The symbol may be a
            predefined code or an expression in a syntax defined by the coding
            system (e.g. post-coordination).
          allOf:
            - $ref: '#/components/schemas/code'
        display:
          description: >-
            A representation of the meaning of the code in the system, following
            the rules of the system.
          allOf:
            - $ref: '#/components/schemas/string'
      additionalProperties: false
    Element:
      description: Base definition for all elements in a resource.
      properties:
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the element. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
      additionalProperties: false
    Meta:
      description: >-
        The metadata about a resource. This is content in the resource that is
        maintained by the infrastructure. Changes to the content might not
        always be associated with version changes to the resource.
      properties:
        lastUpdated:
          description: When the resource last changed - e.g. when the version changed.
          allOf:
            - $ref: '#/components/schemas/instant'
        tag:
          description: >-
            Tags applied to this resource. Tags are intended to be used to
            identify and relate resources to process and workflow, and
            applications are not required to consider the tags when interpreting
            the meaning of a resource.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
      additionalProperties: false
    Extension:
      description: Optional Extension Element - found in all resources.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          allOf:
            - $ref: '#/components/schemas/string'
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the element. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          allOf:
            - $ref: '#/components/schemas/uri'
        valueBoolean:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^true|false$
          type: boolean
        valueCode:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[^\s]+(\s[^\s]+)*$
          type: string
        valueDate:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: >-
            ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$
          type: string
        valueDateTime:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: >-
            ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
          type: string
        valueInteger:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^-?([0]|([1-9][0-9]*))$
          type: number
        valueString:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[ \r\n\t\S]+$
          type: string
        valueRange:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          allOf:
            - $ref: '#/components/schemas/Range'
        valueCodeableConcept:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          allOf:
            - $ref: '#/components/schemas/CodeableConcept'
      additionalProperties: false
    RORSupportedPatientInfo:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - supportedPatientInfo
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/JDV_J29-PublicPrisEnCharge-ROR/FHIR/JDV-J29-PublicPrisEnCharge-ROR
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/JDV_J29-PublicPrisEnCharge-ROR/FHIR/JDV-J29-PublicPrisEnCharge-ROR
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORAgeRange:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - ageRange
        valueRange:
          description: A set of ordered Quantities defined by a low and high limit.
          properties:
            low:
              description: >-
                The low limit. The boundary is inclusive. A measured amount (or
                an amount that can potentially be measured). Note that measured
                amounts include amounts that are not precisely quantified,
                including amounts involving arbitrary units and floating
                currencies.
              properties:
                value:
                  description: >-
                    The value of the measured amount. The value includes an
                    implicit precision in the presentation of the value.
                  allOf:
                    - $ref: '#/components/schemas/decimal'
                system:
                  description: >-
                    The identification of the system that provides the coded
                    form of the unit.
                  type: string
                  enum:
                    - >-
                      https://mos.esante.gouv.fr/NOS/TRE_R247-UcumUniteMesure/FHIR/TRE-R247-UcumUniteMesure
                code:
                  description: >-
                    A computer processable form of the unit in some unit
                    representation system.
                  pattern: ^[a-zA-Z%/]{5}
                  type: string
            high:
              description: >-
                The high limit. The boundary is inclusive. A measured amount (or
                an amount that can potentially be measured). Note that measured
                amounts include amounts that are not precisely quantified,
                including amounts involving arbitrary units and floating
                currencies.
              properties:
                value:
                  description: >-
                    The value of the measured amount. The value includes an
                    implicit precision in the presentation of the value.
                  allOf:
                    - $ref: '#/components/schemas/decimal'
                system:
                  description: >-
                    The identification of the system that provides the coded
                    form of the unit.
                  type: string
                  enum:
                    - >-
                      https://mos.esante.gouv.fr/NOS/TRE_R247-UcumUniteMesure/FHIR/TRE-R247-UcumUniteMesure
                code:
                  description: >-
                    A computer processable form of the unit in some unit
                    representation system.
                  pattern: ^[a-zA-Z%/]{5}
                  type: string
      additionalProperties: false
    RORTerritorialDivision:
      description: >-
        Extension créée dans le cadre du ROR qui correspond au périmètre
        géographique dans lequel habitent les personnes pouvant être prises en
        charge pour la prestation décrite. Cela inclut notamment les divisions
        territoriales dans lesquelles les professionnels se déplacent.
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - >-
              https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-territorial-division
        valueBoolean:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^true|false$
          type: boolean
      additionalProperties: false
    RORMetaCreationDate:
      description: >-
        Extension créée dans le cadre du ROR qui correspond à la date de
        création (dans le ROR régional) présente dans les métadonnées.
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - >-
              https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-meta-creation-date
        valueDateTime:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: >-
            ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
          type: string
      additionalProperties: false
    RORMetaResource:
      description: >-
        The metadata about a resource. This is content in the resource that is
        maintained by the infrastructure. Changes to the content might not
        always be associated with version changes to the resource.
      properties:
        lastUpdated:
          description: When the resource last changed - e.g. when the version changed.
          allOf:
            - $ref: '#/components/schemas/instant'
        tag:
          description: >-
            Tags applied to this resource. Tags are intended to be used to
            identify and relate resources to process and workflow, and
            applications are not required to consider the tags when interpreting
            the meaning of a resource.
          items:
            properties:
              system:
                description: >-
                  The identification of the code system that defines the meaning
                  of the symbol in the code.
                type: string
                enum:
                  - >-
                    https://mos.esante.gouv.fr/NOS/TRE_R30-RegionOM/FHIR/TRE-R30-RegionOM
              code:
                description: >-
                  A symbol in syntax defined by the system. The symbol may be a
                  predefined code or an expression in a syntax defined by the
                  coding system (e.g. post-coordination).
                pattern: ^[0-9]{2}
                type: string
            additionalProperties: false
          type: array
      additionalProperties: false
    HealthcareService:
      description: The details of a healthcare service available at a location.
      properties:
        resourceType:
          description: This is a HealthcareService resource
          type: string
          enum:
            - HealthcareService
        id:
          description: >-
            The logical id of the resource, as used in the URL for the resource.
            Once assigned, this value never changes.
          allOf:
            - $ref: '#/components/schemas/id'
        meta:
          description: >-
            The metadata about the resource. This is content that is maintained
            by the infrastructure. Changes to the content might not always be
            associated with version changes to the resource.
          allOf:
            - $ref: '#/components/schemas/RORMetaResource'
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the resource. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            anyOf:
              - $ref: '#/components/schemas/RORHealthcareServiceSensitiveUnit'
              - $ref: '#/components/schemas/RORHealthcareServicePatientType'
              - $ref: '#/components/schemas/RORHealthcareServiceContact'
              - $ref: '#/components/schemas/RORTerritorialDivision'
              - $ref: '#/components/schemas/RORMetaCreationDate'
          type: array
        identifier:
          type: array
          items:
            type: object
            properties:
              type:
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      description: A reference to a code defined by a terminology system.
                      items:
                        type: object
                        description: A reference to a code defined by a terminology system.
                        properties:
                          system:
                            description: >-
                              The identification of the code system that defines
                              the meaning of the symbol in the code.
                            type: string
                            enum:
                              - >-
                                https://mos.esante.gouv.fr/NOS/TRE_R355-TypeIdentifiantOffre/FHIR/TRE-R355-TypeIdentifiantOffre
                          code:
                            description: >-
                              A symbol in syntax defined by the system. The
                              symbol may be a predefined code or an expression
                              in a syntax defined by the coding system (e.g.
                              post-coordination).
                            pattern: ^[0-9]{2}
                            type: string
                          display:
                            description: >-
                              A representation of the meaning of the code in the
                              system, following the rules of the system.
                            allOf:
                              - $ref: '#/components/schemas/string'
                        additionalProperties: false
                      type: array
                  required:
                    - coding
              value:
                $ref: '#/components/schemas/string'
            required:
              - type
              - value
          description: External identifiers for this item.
        active:
          description: >-
            This flag is used to mark the record to not be used. This is not
            used when a center is closed for maintenance, or for holidays, the
            notAvailable period is to be used for this.
          allOf:
            - $ref: '#/components/schemas/boolean'
        providedBy:
          type: object
          properties:
            reference:
              type: string
              pattern: ^Organization/[0-9]{1,10}
          description: The organization that provides this healthcare service.
          required:
            - reference
        category:
          description: >-
            Identifies the broad category of service being performed or
            delivered.
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      enum:
                        - >-
                          https://mos.esante.gouv.fr/NOS/TRE_R244-CategorieOrganisation/FHIR/TRE-R244-CategorieOrganisation
                    code:
                      type: string
                      pattern: ^[0-9]{2}
                    display:
                      $ref: '#/components/schemas/string'
                  required:
                    - system
                    - display
                    - code
            required:
              - coding
          type: array
        type:
          type: array
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      enum:
                        - >-
                          https://mos.esante.gouv.fr/NOS/TRE_R227-ChampActivite/FHIR/TRE-R227-ChampActivite
                    code:
                      type: string
                      pattern: ^[0-9]{2}
                    display:
                      $ref: '#/components/schemas/string'
                  required:
                    - system
                    - code
                    - display
            required:
              - coding
          description: The specific type of service that may be delivered or performed.
        specialty:
          description: >-
            Collection of specialties handled by the service site. This is more
            of a medical term.
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      enum:
                        - >-
                          https://mos.esante.gouv.fr/NOS/TRE_R211-ActiviteOperationnelle/FHIR/TRE-R211-ActiviteOperationnelle
                    code:
                      type: string
                      pattern: ^[0-9]{2}
                    display:
                      $ref: '#/components/schemas/string'
                  required:
                    - system
                    - code
                    - display
            required:
              - coding
          type: array
        location:
          description: The location(s) where this healthcare service may be provided.
          items:
            type: object
            properties:
              reference:
                type: string
                pattern: ^Location/[0-9]{1,10}
            required:
              - reference
          type: array
        name:
          description: >-
            Further description of the service as it would be presented to a
            consumer while searching.
          allOf:
            - $ref: '#/components/schemas/string'
        telecom:
          description: List of contacts related to this specific healthcare service.
          items:
            type: object
            properties:
              extension:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/RORTelecomCommunicationChannel'
                    - $ref: '#/components/schemas/RORTelecomConfidentialityLevel'
              system:
                description: >-
                  Telecommunications form for contact point - what
                  communications system is required to make use of the contact.
                type: string
                enum:
                  - phone
                  - fax
                  - email
                  - pager
                  - url
                  - sms
                  - other
              value:
                description: >-
                  The actual contact point details, in a form that is meaningful
                  to the designated communication system (i.e. phone number or
                  email address).
                allOf:
                  - $ref: '#/components/schemas/string'
              use:
                description: Identifies the purpose for the contact point.
                type: string
                enum:
                  - home
                  - work
                  - temp
                  - old
                  - mobile
              rank:
                description: >-
                  Specifies a preferred order in which to use a set of contacts.
                  ContactPoints with lower rank values are more preferred than
                  those with higher rank values.
                allOf:
                  - $ref: '#/components/schemas/positiveInt'
              period:
                description: Time period when the contact point was/is in use.
                allOf:
                  - $ref: '#/components/schemas/Period'
            required:
              - extension
              - system
              - value
              - use
          type: array
        coverageArea:
          description: >-
            The location(s) that this service is available to (not where the
            service is provided).
          items:
            $ref: '#/components/schemas/Reference'
          type: array
        characteristic:
          description: Collection of characteristics (attributes).
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      enum:
                        - >-
                          https://mos.esante.gouv.fr/NOS/TRE_R213-ModePriseEnCharge/FHIR/TRE-R213-ModePriseEnCharge
                    code:
                      type: string
                      pattern: ^[0-9]{2}
                    display:
                      $ref: '#/components/schemas/string'
                  required:
                    - system
                    - code
                    - display
            required:
              - coding
          type: array
        appointmentRequired:
          description: >-
            Indicates whether or not a prospective consumer will require an
            appointment for a particular service at a site to be provided by the
            Organization. Indicates if an appointment is required for access to
            this service.
          allOf:
            - $ref: '#/components/schemas/boolean'
        availableTime:
          description: A collection of times that the Service Site is available.
          items:
            $ref: '#/components/schemas/HealthcareService_AvailableTime'
          type: array
        notAvailable:
          description: >-
            The HealthcareService is not available during this period of time
            due to the provided reason.
          items:
            $ref: '#/components/schemas/HealthcareService_NotAvailable'
          type: array
        availabilityExceptions:
          description: >-
            A description of site availability exceptions, e.g. public holiday
            availability. Succinctly describing all possible exceptions to
            normal site availability as details in the available Times and not
            available Times.
          allOf:
            - $ref: '#/components/schemas/string'
      additionalProperties: false
      required:
        - resourceType
    RORHealthcareServiceSensitiveUnit:
      description: >-
        Extension créée dans le cadre du ROR pour signaler que toutes les
        informations de description d’une offre sont confidentielles car elles
        présentent un risque d’utilisation à des fins malveillantes.
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - >-
              https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-healthcareservice-sensitive-unit
        valueBoolean:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^true|false$
          type: boolean
      additionalProperties: false
    RORHealthcareServicePatientType:
      description: >-
        Extension créée dans le cadre du ROR pour décrire un ensemble de
        personnes qui répondent à des critères leur permettant de bénéficier de
        la prestation décrite.
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - >-
              https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-healthcareservice-patient-type
        extension:
          items:
            anyOf:
              - $ref: '#/components/schemas/RORAgeRange'
              - $ref: '#/components/schemas/RORSupportedPatientInfo'
          type: array
      additionalProperties: false
    RORHealthcareServiceContact:
      description: >-
        Extension créée dans le cadre du ROR pour signaler que toutes les
        informations de description d’une offre sont confidentielles car elles
        présentent un risque d’utilisation à des fins malveillantes.
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - >-
              https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-healthcareservice-contact
        extension:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/RORPurposeContact'
              - $ref: '#/components/schemas/RORConfidentialityLevel'
              - $ref: '#/components/schemas/RORHealthcareServiceContactTelecom'
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
      additionalProperties: false
      required:
        - url
    Identifier:
      description: >-
        An identifier - identifies some entity uniquely and unambiguously.
        Typically this is used for business identifiers.
      properties:
        use:
          description: The purpose of this identifier.
          type: string
          enum:
            - usual
            - official
            - temp
            - secondary
            - old
        type:
          description: >-
            A coded type for the identifier that can be used to determine which
            identifier to use for a specific purpose.
          allOf:
            - $ref: '#/components/schemas/CodeableConcept'
        system:
          description: >-
            Establishes the namespace for the value - that is, a URL that
            describes a set values that are unique.
          allOf:
            - $ref: '#/components/schemas/uri'
        value:
          description: >-
            The portion of the identifier typically relevant to the user and
            which is unique within the context of the system.
          allOf:
            - $ref: '#/components/schemas/string'
        period:
          description: Time period during which identifier is/was valid for use.
          allOf:
            - $ref: '#/components/schemas/Period'
        assigner:
          description: Organization that issued/manages the identifier.
          allOf:
            - $ref: '#/components/schemas/Reference'
      additionalProperties: false
    Reference:
      description: A reference from one resource to another.
      properties:
        reference:
          description: >-
            A reference to a location at which the other resource is found. The
            reference may be a relative reference, in which case it is relative
            to the service base URL, or an absolute URL that resolves to the
            location where the resource is found. The reference may be version
            specific or not. If the reference is not to a FHIR RESTful server,
            then it should be assumed to be version specific. Internal fragment
            references (start with '#') refer to contained resources.
          allOf:
            - $ref: '#/components/schemas/string'
      additionalProperties: false
    ContactPoint:
      description: >-
        Details for all kinds of technology mediated contact points for a person
        or organization, including telephone, email, etc.
      properties:
        system:
          description: >-
            Telecommunications form for contact point - what communications
            system is required to make use of the contact.
          type: string
          enum:
            - phone
            - fax
            - email
            - pager
            - url
            - sms
            - other
        value:
          description: >-
            The actual contact point details, in a form that is meaningful to
            the designated communication system (i.e. phone number or email
            address).
          allOf:
            - $ref: '#/components/schemas/string'
        use:
          description: Identifies the purpose for the contact point.
          type: string
          enum:
            - home
            - work
            - temp
            - old
            - mobile
        rank:
          description: >-
            Specifies a preferred order in which to use a set of contacts.
            ContactPoints with lower rank values are more preferred than those
            with higher rank values.
          allOf:
            - $ref: '#/components/schemas/positiveInt'
        period:
          description: Time period when the contact point was/is in use.
          allOf:
            - $ref: '#/components/schemas/Period'
      additionalProperties: false
    Address:
      description: >-
        An address expressed using postal conventions (as opposed to GPS or
        other location definition formats).  This data type may be used to
        convey addresses for use in delivering mail as well as for visiting
        locations which might not be valid for mail delivery.  There are a
        variety of postal address formats defined around the world.
      properties:
        line:
          description: >-
            This component contains the house number, apartment number, street
            name, street direction,  P.O. Box number, delivery hints, and
            similar address information.
          items:
            $ref: '#/components/schemas/string'
          type: array
        _line:
          description: Extensions for line
          items:
            type: object
            properties:
              extension:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/ISO21090HouseNumber'
                    - $ref: '#/components/schemas/ISO21090StreetNameBase'
            required:
              - extension
          type: array
        city:
          description: >-
            The name of the city, town, suburb, village or other community or
            delivery center.
          allOf:
            - $ref: '#/components/schemas/string'
        postalCode:
          type: string
          description: A postal code designating a region defined by the postal service.
          pattern: ^(?:0[1-9]|[1-8]\d|9[0-8])\d{3}$
      additionalProperties: false
    HumanName:
      description: A human's name with the ability to identify parts and usage.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          allOf:
            - $ref: '#/components/schemas/string'
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the element. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        use:
          description: Identifies the purpose for this name.
          type: string
          enum:
            - usual
            - official
            - temp
            - nickname
            - anonymous
            - old
            - maiden
        text:
          description: >-
            Specifies the entire name as it should be displayed e.g. on an
            application UI. This may be provided instead of or as well as the
            specific parts.
          allOf:
            - $ref: '#/components/schemas/string'
        family:
          description: >-
            The part of a name that links to the genealogy. In some cultures
            (e.g. Eritrea) the family name of a son is the first name of his
            father.
          allOf:
            - $ref: '#/components/schemas/string'
        given:
          description: Given name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        prefix:
          description: >-
            Part of the name that is acquired as a title due to academic, legal,
            employment or nobility status, etc. and that appears at the start of
            the name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        suffix:
          description: >-
            Part of the name that is acquired as a title due to academic, legal,
            employment or nobility status, etc. and that appears at the end of
            the name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        period:
          description: >-
            Indicates the period of time when this name was valid for the named
            person.
          allOf:
            - $ref: '#/components/schemas/Period'
      additionalProperties: false
    HealthcareService_AvailableTime:
      description: The details of a healthcare service available at a location.
      properties:
        daysOfWeek:
          description: >-
            Indicates which days of the week are available between the start and
            end Times.
          items:
            type: string
            enum:
              - mon
              - tue
              - wed
              - thu
              - fri
              - sat
              - sun
          type: array
        allDay:
          description: >-
            Is this always available? (hence times are irrelevant) e.g. 24 hour
            service.
          allOf:
            - $ref: '#/components/schemas/boolean'
        availableStartTime:
          description: >-
            The opening time of day. Note: If the AllDay flag is set, then this
            time is ignored.
          allOf:
            - $ref: '#/components/schemas/time'
        availableEndTime:
          description: >-
            The closing time of day. Note: If the AllDay flag is set, then this
            time is ignored.
          allOf:
            - $ref: '#/components/schemas/time'
        extension:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/RORAvailableTimeNumberDaysOfWeek'
              - $ref: >-
                  #/components/schemas/RORAvailableTimeNumberEffectiveOpeningClosingDate
              - $ref: '#/components/schemas/RORAvailableTimeTypeOfTime'
      additionalProperties: false
      required:
        - extension
    HealthcareService_NotAvailable:
      description: The details of a healthcare service available at a location.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          allOf:
            - $ref: '#/components/schemas/string'
        description:
          description: >-
            The reason that can be presented to the user as to why this time is
            not available.
          allOf:
            - $ref: '#/components/schemas/string'
        during:
          description: >-
            Service is not available (seasonally or for a public holiday) from
            this date.
          allOf:
            - $ref: '#/components/schemas/Period'
      additionalProperties: false
    Location:
      description: >-
        Details and position information for a physical place where services are
        provided and resources and participants may be stored, found, contained,
        or accommodated.
      properties:
        resourceType:
          description: This is a Location resource
          type: string
          enum:
            - Location
        id:
          description: >-
            The logical id of the resource, as used in the URL for the resource.
            Once assigned, this value never changes.
          allOf:
            - $ref: '#/components/schemas/id'
        meta:
          description: >-
            The metadata about the resource. This is content that is maintained
            by the infrastructure. Changes to the content might not always be
            associated with version changes to the resource.
          allOf:
            - $ref: '#/components/schemas/RORMetaResource'
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the resource. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            anyOf:
              - $ref: '#/components/schemas/RORLocationSupportedCapacity'
              - $ref: '#/components/schemas/RORCommuneCog'
          type: array
        identifier:
          description: Unique code or number identifying the location to its users.
          items:
            type: object
            properties:
              type:
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      description: A reference to a code defined by a terminology system.
                      items:
                        type: object
                        description: A reference to a code defined by a terminology system.
                        properties:
                          system:
                            description: >-
                              The identification of the code system that defines
                              the meaning of the symbol in the code.
                            type: string
                            enum:
                              - >-
                                https://mos.esante.gouv.fr/NOS/TRE_R354-TypeIdentifiantRessourceOperationnelle/FHIR/TRE-R354-TypeIdentifiantRessourceOperationnelle
                          code:
                            description: >-
                              A symbol in syntax defined by the system. The
                              symbol may be a predefined code or an expression
                              in a syntax defined by the coding system (e.g.
                              post-coordination).
                            pattern: ^[0-9]{2}
                            type: string
                          display:
                            description: >-
                              A representation of the meaning of the code in the
                              system, following the rules of the system.
                            allOf:
                              - $ref: '#/components/schemas/string'
                        additionalProperties: false
                      type: array
                  required:
                    - coding
              value:
                $ref: '#/components/schemas/string'
          type: array
        status:
          description: >-
            The status property covers the general availability of the resource,
            not the current value which may be covered by the operationStatus,
            or by a schedule/slots if they are configured for the location.
          type: string
          enum:
            - active
            - suspended
            - inactive
        name:
          description: Name of the location as used by humans. Does not need to be unique.
          allOf:
            - $ref: '#/components/schemas/string'
        type:
          description: Indicates the type of function performed at the location.
          type: array
          items:
            type: object
            properties:
              coding:
                description: A reference to a code defined by a terminology system.
                items:
                  type: object
                  description: A reference to a code defined by a terminology system.
                  properties:
                    system:
                      description: >-
                        The identification of the code system that defines the
                        meaning of the symbol in the code.
                      type: string
                      enum:
                        - >-
                          https://mos.esante.gouv.fr/NOS/TRE_R343-FonctionLieu/FHIR/TRE-R343-FonctionLieu
                    code:
                      description: >-
                        A symbol in syntax defined by the system. The symbol may
                        be a predefined code or an expression in a syntax
                        defined by the coding system (e.g. post-coordination).
                      pattern: ^[0-9]{2}
                      type: string
                    display:
                      description: >-
                        A representation of the meaning of the code in the
                        system, following the rules of the system.
                      allOf:
                        - $ref: '#/components/schemas/string'
                  additionalProperties: false
                type: array
            required:
              - coding
        value:
          type: array
          items:
            $ref: '#/components/schemas/string'
        address:
          description: Physical location.
          allOf:
            - $ref: '#/components/schemas/Address'
        position:
          description: >-
            The absolute geographic location of the Location, expressed using
            the WGS84 datum (This is the same co-ordinate system used in KML).
          allOf:
            - $ref: '#/components/schemas/Location_Position'
      additionalProperties: false
      required:
        - resourceType
    Location_Position:
      description: >-
        Details and position information for a physical place where services are
        provided and resources and participants may be stored, found, contained,
        or accommodated.
      properties:
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the element. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/RORCoordinateReliability'
          type: array
        longitude:
          description: >-
            Longitude. The value domain and the interpretation are the same as
            for the text of the longitude element in KML (see notes below).
          allOf:
            - $ref: '#/components/schemas/decimal'
        latitude:
          description: >-
            Latitude. The value domain and the interpretation are the same as
            for the text of the latitude element in KML (see notes below).
          allOf:
            - $ref: '#/components/schemas/decimal'
        altitude:
          description: >-
            Altitude. The value domain and the interpretation are the same as
            for the text of the altitude element in KML (see notes below).
          allOf:
            - $ref: '#/components/schemas/decimal'
      additionalProperties: false
    Location_HoursOfOperation:
      description: >-
        Details and position information for a physical place where services are
        provided and resources and participants may be stored, found, contained,
        or accommodated.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          allOf:
            - $ref: '#/components/schemas/string'
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the element. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        modifierExtension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the element and that modifies the
            understanding of the element in which it is contained and/or the
            understanding of the containing element's descendants. Usually
            modifier elements provide negation or qualification. To make the use
            of extensions safe and manageable, there is a strict set of
            governance applied to the definition and use of extensions. Though
            any implementer can define an extension, there is a set of
            requirements that SHALL be met as part of the definition of the
            extension. Applications processing a resource are required to check
            for modifier extensions.


            Modifier extensions SHALL NOT change the meaning of any elements on
            Resource or DomainResource (including cannot change the meaning of
            modifierExtension itself).
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        daysOfWeek:
          description: >-
            Indicates which days of the week are available between the start and
            end Times.
          items:
            $ref: '#/components/schemas/code'
          type: array
        allDay:
          description: The Location is open all day.
          allOf:
            - $ref: '#/components/schemas/boolean'
        openingTime:
          description: Time that the Location opens.
          allOf:
            - $ref: '#/components/schemas/time'
        closingTime:
          description: Time that the Location closes.
          allOf:
            - $ref: '#/components/schemas/time'
      additionalProperties: false
    Organization:
      description: >-
        A formally or informally recognized grouping of people or organizations
        formed for the purpose of achieving some form of collective action. 
        Includes companies, institutions, corporations, departments, community
        groups, healthcare practice groups, payer/insurer, etc.
      properties:
        resourceType:
          description: This is a Organization resource
          type: string
          enum:
            - Organization
        id:
          description: >-
            The logical id of the resource, as used in the URL for the resource.
            Once assigned, this value never changes.
          allOf:
            - $ref: '#/components/schemas/id'
        meta:
          description: >-
            The metadata about the resource. This is content that is maintained
            by the infrastructure. Changes to the content might not always be
            associated with version changes to the resource.
          allOf:
            - $ref: '#/components/schemas/RORMetaResource'
        extension:
          description: >-
            May be used to represent additional information that is not part of
            the basic definition of the resource. To make the use of extensions
            safe and manageable, there is a strict set of governance  applied to
            the definition and use of extensions. Though any implementer can
            define an extension, there is a set of requirements that SHALL be
            met as part of the definition of the extension.
          items:
            anyOf:
              - $ref: '#/components/schemas/RORMetaCreationDate'
              - $ref: '#/components/schemas/ROROrganizationPeriod'
          type: array
        identifier:
          description: >-
            Identifier for the organization that is used to identify the
            organization across multiple disparate systems.
          type: array
          items:
            type: object
            properties:
              type:
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      description: A reference to a code defined by a terminology system.
                      items:
                        type: object
                        description: A reference to a code defined by a terminology system.
                        properties:
                          system:
                            description: >-
                              The identification of the code system that defines
                              the meaning of the symbol in the code.
                            type: string
                            enum:
                              - >-
                                https://mos.esante.gouv.fr/NOS/TRE_R345-TypeIdentifiantAutre/FHIR/TRE-R345-TypeIdentifiantAutre
                          code:
                            description: >-
                              A symbol in syntax defined by the system. The
                              symbol may be a predefined code or an expression
                              in a syntax defined by the coding system (e.g.
                              post-coordination).
                            pattern: ^[0-9]{2}
                            type: string
                          display:
                            description: >-
                              A representation of the meaning of the code in the
                              system, following the rules of the system.
                            allOf:
                              - $ref: '#/components/schemas/string'
                        additionalProperties: false
                      type: array
                  required:
                    - coding
              system:
                description: >-
                  Establishes the namespace for the value - that is, a URL that
                  describes a set values that are unique.
                allOf:
                  - $ref: '#/components/schemas/uri'
              value:
                $ref: '#/components/schemas/string'
            required:
              - type
              - system
              - value
        active:
          description: Whether the organization's record is still in active use.
          allOf:
            - $ref: '#/components/schemas/boolean'
        type:
          description: The kind(s) of organization that this is.
          type: array
          items:
            type: object
            properties:
              coding:
                description: A reference to a code defined by a terminology system.
                items:
                  type: object
                  description: A reference to a code defined by a terminology system.
                  properties:
                    system:
                      description: >-
                        The identification of the code system that defines the
                        meaning of the symbol in the code.
                      type: string
                      enum:
                        - >-
                          https://mos.esante.gouv.fr/NOS/TRE_R207-TypeOrganisationInterne/FHIR/TRE-R207-TypeOrganisationInterne
                    code:
                      description: >-
                        A symbol in syntax defined by the system. The symbol may
                        be a predefined code or an expression in a syntax
                        defined by the coding system (e.g. post-coordination).
                      pattern: ^[0-9]{2}
                      type: string
                    display:
                      description: >-
                        A representation of the meaning of the code in the
                        system, following the rules of the system.
                      allOf:
                        - $ref: '#/components/schemas/string'
                  additionalProperties: false
                type: array
            required:
              - coding
        name:
          description: A name associated with the organization.
          allOf:
            - $ref: '#/components/schemas/string'
        address:
          description: An address for the organization.
          items:
            $ref: '#/components/schemas/Address'
          type: array
        partOf:
          type: object
          properties:
            id:
              type: string
              pattern: ^[0-9]{1,10}
            reference:
              type: string
              pattern: ^Organization/[0-9]{1,10}
          description: The organization of which this organization forms a part.
          required:
            - id
            - reference
      additionalProperties: false
      required:
        - resourceType
    Organization_Contact:
      description: >-
        A formally or informally recognized grouping of people or organizations
        formed for the purpose of achieving some form of collective action. 
        Includes companies, institutions, corporations, departments, community
        groups, healthcare practice groups, payer/insurer, etc.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          allOf:
            - $ref: '#/components/schemas/string'
        purpose:
          description: Indicates a purpose for which the contact can be reached.
          allOf:
            - $ref: '#/components/schemas/CodeableConcept'
        name:
          description: A name associated with the contact.
          allOf:
            - $ref: '#/components/schemas/HumanName'
        telecom:
          description: >-
            A contact detail (e.g. a telephone number or an email address) by
            which the party may be contacted.
          items:
            $ref: '#/components/schemas/ContactPoint'
          type: array
        address:
          description: Visiting or postal addresses for the contact.
          allOf:
            - $ref: '#/components/schemas/Address'
      additionalProperties: false
    ResourceList:
      oneOf:
        - $ref: '#/components/schemas/HealthcareService'
        - $ref: '#/components/schemas/Location'
        - $ref: '#/components/schemas/Organization'
    Bundle_Link:
      description: A container for a collection of resources.
      properties:
        relation:
          description: >-
            A name which details the functional use for this link - see
            [http://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1](http://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1).
          allOf:
            - $ref: '#/components/schemas/string'
        url:
          description: The reference details for the link.
          allOf:
            - $ref: '#/components/schemas/uri'
      additionalProperties: false
    Bundle_Search:
      description: A container for a collection of resources.
      properties:
        mode:
          description: >-
            Why this entry is in the result set - whether it's included as a
            match or because of an _include requirement, or to convey
            information or warning information about the search process.
          type: string
          enum:
            - match
            - include
            - outcome
        score:
          description: When searching, the server's search ranking score for the entry.
          allOf:
            - $ref: '#/components/schemas/decimal'
      additionalProperties: false
      required:
        - mode
    Parameters:
      description: >-
        This resource is a non-persisted resource used to pass information into
        and back from an [operation](operations.html). It has no other use, and
        there is no RESTful endpoint associated with it.
      properties:
        resourceType:
          description: This is a Parameters resource
          type: string
          enum:
            - Parameters
        parameter:
          description: A parameter passed to or received from the operation.
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
      additionalProperties: false
      required:
        - resourceType
    Parameter:
      description: >-
        This resource is a non-persisted resource used to pass information into
        and back from an [operation](operations.html). It has no other use, and
        there is no RESTful endpoint associated with it.
      properties:
        name:
          description: The name of the parameter (reference to the operation definition).
          type: string
          enum:
            - operation
        part:
          description: A named part of a multi-part parameter.
          items:
            anyOf:
              - $ref: '#/components/schemas/RORParameterOperationName'
              - $ref: '#/components/schemas/RORParameterOperationPath'
              - $ref: '#/components/schemas/RORParameterOperationValue'
          type: array
      additionalProperties: false
      required:
        - name
    RORParameterOperationName:
      description: >-
        This resource is a non-persisted resource used to pass information into
        and back from an [operation](operations.html). It has no other use, and
        there is no RESTful endpoint associated with it.
      properties:
        name:
          description: The name of the parameter (reference to the operation definition).
          type: string
          enum:
            - type
        valueString:
          description: Le type d'opération
          type: string
          enum:
            - replace
      additionalProperties: false
      required:
        - name
        - valueString
    RORParameterOperationPath:
      description: >-
        This resource is a non-persisted resource used to pass information into
        and back from an [operation](operations.html). It has no other use, and
        there is no RESTful endpoint associated with it.
      properties:
        name:
          description: The name of the parameter (reference to the operation definition).
          type: string
          enum:
            - path
        valueString:
          description: Le path de l'opération
          type: string
          enum:
            - >-
              Location.extension.where(url='https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-location-supported-capacity')
      additionalProperties: false
      required:
        - name
        - valueString
    RORParameterOperationValue:
      description: >-
        This resource is a non-persisted resource used to pass information into
        and back from an [operation](operations.html). It has no other use, and
        there is no RESTful endpoint associated with it.
      properties:
        name:
          description: The name of the parameter (reference to the operation definition).
          type: string
          enum:
            - value
        part:
          type: object
          properties:
            extension:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/RORLocationSupportedCapacity'
          description: Le path de l'opération
          required:
            - extension
      additionalProperties: false
      required:
        - name
        - part
        - field_0
        - field_1
    RORLocationSupportedCapacity:
      description: >-
        This resource is a non-persisted resource used to pass information into
        and back from an [operation](operations.html). It has no other use, and
        there is no RESTful endpoint associated with it.
      properties:
        url:
          type: string
          description: The name of the parameter (reference to the operation definition).
          enum:
            - >-
              https://interop.esante.gouv.fr/ig/fhir/ror/StructureDefinition/ror-location-supported-capacity
        extension:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/RORTemporaryAssignement'
              - $ref: '#/components/schemas/RORCapacityType'
              - $ref: '#/components/schemas/RORCapacityStatus'
              - $ref: '#/components/schemas/RORTemporalityCapacity'
              - $ref: '#/components/schemas/RORNbCapacity'
              - $ref: '#/components/schemas/RORCapacitySourceType'
              - $ref: '#/components/schemas/RORCapacityUpdateDate'
              - $ref: '#/components/schemas/RORAdditionalBedType'
              - $ref: '#/components/schemas/RORCapacityClosingType'
              - $ref: '#/components/schemas/RORGenderCapacityAvailable'
              - $ref: '#/components/schemas/RORCrisisType'
      additionalProperties: false
      required:
        - url
        - extension
    RORTemporaryAssignement:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - temporaryAssignement
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORCapacityType:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - capacityType
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R329-NatureCapacite/FHIR/TRE-R329-NatureCapacite
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORCapacityStatus:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - capacityStatus
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R330-TypeStatutCapacite/FHIR/TRE-R330-TypeStatutCapacite
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORTemporalityCapacity:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - temporalityCapacity
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R331-TemporaliteCapacite/FHIR/TRE-R331-TemporaliteCapacite
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORCapacitySourceType:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - capacitySourceType
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R335-TypeSourceCapacite/FHIR/TRE-R335-TypeSourceCapacite
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORCrisisType:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - crisisType
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R336-TypeCrise/FHIR/TRE-R336-TypeCrise
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORGenderCapacityAvailable:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - genderCapacityAvailable
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R332-GenreCapacite/FHIR/TRE-R332-GenreCapacite
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
    RORCapacityClosingType:
      properties:
        url:
          description: >-
            Source of the definition for the extension code - a logical name or
            a URL.
          type: string
          enum:
            - capacityClosingType
        valueCodeableConcept:
          description: >-
            A concept that may be defined by a formal reference to a terminology
            or ontology or may be provided by text. Binding:
            https://mos.esante.gouv.fr/NOS/TRE_R337-AffectationTemporaire/FHIR/TRE-R337-AffectationTemporaire
            (required)
          properties:
            coding:
              description: A reference to a code defined by a terminology system.
              items:
                description: A reference to a code defined by a terminology system.
                properties:
                  system:
                    description: >-
                      The identification of the code system that defines the
                      meaning of the symbol in the code.
                    type: string
                    enum:
                      - >-
                        https://mos.esante.gouv.fr/NOS/TRE_R333-TypeFermetureCapacite/FHIR/TRE-R333-TypeFermetureCapacite
                  code:
                    description: >-
                      A symbol in syntax defined by the system. The symbol may
                      be a predefined code or an expression in a syntax defined
                      by the coding system (e.g. post-coordination).
                    pattern: ^[0-9]{2}
                    type: string
                  display:
                    description: >-
                      A representation of the meaning of the code in the system,
                      following the rules of the system.
                    allOf:
                      - $ref: '#/components/schemas/string'
                additionalProperties: false
              type: array
          additionalProperties: false
      additionalProperties: false
[...]
